.tabs {
    display: block
}

.tabs .tabs-nav {
    width: 100%
}

.tabs .tabs-nav .tabs-nav-item {
    display: block
}

.tabs .tabs-nav .tabs-nav-item.active {
    text-decoration: none;
    cursor: default
}

.tabs .tabs-cont {
    position: relative;
    transition: min-height .3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.tabs .tabs-cont .tab {
    position: absolute;
    left: -10000px;
    top: -10000px;
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.tabs .tabs-cont .tab.active {
    left: 0;
    top: 0;
    opacity: 1
}

@media (min-width: 671px) {
    .tabs.vertical {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start
    }
    .tabs.vertical .tabs-nav {
        width: 20%;
        display: block
    }
    .tabs.vertical .tabs-nav .tabs-nav-item {
        display: block
    }
    .tabs.vertical .tabs-cont {
        flex-grow: 1
    }
    .tabs.horizontal {
        display: block
    }
    .tabs.horizontal .tabs-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2rem
    }
}