//mini-reset
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	margin: 0; padding: 0;
}

html{
	font-size: 62.5%;
}

body{
	color: $colorText;
	overflow-x: hidden;
	font-size: $defaultMobileFontSize;
	@include tablet-to-large{
		font-size: $defaultFontSize;
	}
	line-height: 1.6;
	font-family: $regularFont;
	background: $white;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	overflow-y: scroll;
}

.code{
	display: block;
	padding: 0.5em 2rem;
	background: #dfdfdf;
	font-size: 1.4rem;
	font-family: 'Courier';
	margin-bottom: 3rem;
}

h1, h2, h3, h4{
	margin-top: 0;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	font-weight: 100;
	font-family: $specialFont;
}

h1,
h2{
	text-transform: uppercase;
}

p{
	margin-bottom: 20px;
	margin-bottom: 2rem;
}

img{
	display: block;
}

a{
	img{
		border: 0;
	}
}

// common styles
.no-overflow{
	overflow: hidden;
}

.compat-object-fit{
	img{
		opacity: 0;
	}
}

.hide{
	position: absolute;
	left: -100000px;
	top: -10000px;
}

.page-content{
	transition: transform $speed2 $defaultEase;
	position: relative;
	padding: 0 1rem;
	
	@media (min-width: 810px){
		padding: 0;
	}
	
	&.mobile-nav-active{
		transform: translateX(100%);
	}
	
	.section:last-child{
		margin-bottom: 0;
	}
}

.section{
	width: 100%;
	margin: 0 auto 3.5rem auto;
	position: relative;

	&:focus{
		outline: none;
	}
}

.section-inner{
	width: 100%;
	max-width: $maxWidthSection;
	margin: 0 auto;
	padding: 0;// $sectionPadding;
}

.no-mobile{
	display: none;
}

.tabs.tabs-accordion{
	@media (max-width: $mobile-phone){
		.tabs-nav{
			display: none;
		}
		
		.tabs-cont{
			.tab{
				position: static;
				left: 0;
				top: 0;
				opacity: 1;
			}
		}
	}
}

.js-reveal{
	transform: translateX(-3rem);
	transform-origin: 0 0;
	opacity: 0;
	transition: transform $speed2 $easeOutSine, opacity $speed2 $easeOutSine;
	
	&.revealed{
		transform: none;
		opacity: 1;
		transition: transform $speed2 $easeOutSine, opacity $speed2 $easeOutSine;
	}
}

@media (min-width: $tablet-portrait){
	
	.no-mobile{
		display: block !important;
	}
	
	.mobile-only{
		display: none !important;
	}
}
